/* 서브헤더 ======================================================================================================================================== */
.sub-header-wrap {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    border: 1px solid rgba(0 0 0 / 5%);
    border-left: 0;
    border-right: 0;
}

.web-grid {
    max-width: 1000px;
    width: 100%;
    padding: 0;
    margin: 0 auto;

}

.sub-header-container {
    height: 48px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sub-header-navs {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav-item {
    height: 48px;
}

.nav-item:not(:first-child) {
    margin-left: 20px;
}

.nav-link {
    height: 48px;
    padding: 8px 10px;
    border-top: 4px solid transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    list-style: none;
}

.nav-link.active {
    border-bottom: 2px solid;
    color: #000;
    font-weight: 600;
}

/* 매인 =============================================================================================================================================== */
.main-head-wrap {
    width: 100%;
}

.main-head-container {
    max-width: initial;
    margin: 0 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    border-bottom: 1px solid #e5e5e5;
}

.head-dropdown-status {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: auto;
    height: 56px;
    justify-content: center;
    position: relative;
    padding: 7px 15px;
    padding-left: 0;
    font-size: 15px;
    color: #000;
}

.head-dropdown-status:hover {
    color: #3478ff;
}

.head-dropdown-status svg {
    margin-left: 6px;
    fill: #000;
}

.head-dropdown-status:hover svg {
    fill: #3478ff;
}

.head-dropdown-menu {
    display: none;
    flex-direction: column;
    min-width: 200px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 0.5rem 0;
    color: #606060;
    border-radius: 5px;
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(0px, 56px, 0px);
    border: 1px solid rgba(0, 0, 0, .15);
    background-color: #fff;
    z-index: 20;
}

.head-dropdown-menu.active {
    display: flex;
}

.orderby-status-icon {
    display: flex;
}

.dropdown-menu-a {
    display: flex;
    align-items: center;
    position: relative;
    padding: 6px 20px;
    font-size: 15px;
    line-height: 24px;
    padding-right: 44px;
}

.dropdown-menu-a:hover {
    color: #000;
    background-color: #f8f8f8;
}

.head-filter-btn {
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: auto;
    height: 56px;
    justify-content: center;
    position: relative;
    padding: 7px 15px;
    padding-right: 0;
    font-size: 15px;
    color: #000;
}

.head-filter-btn:hover {
    color: #3478ff;
}

.head-filter-btn svg {
    margin-right: 6px;
    fill: #000;
}

.head-filter-btn:hover svg {
    fill: #3478ff;
}

/* 매인 */
.main-content-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.main-result-container {
    width: calc(100% - 340px);
    margin: 0;
}

.main-result-count-con {
    margin: 0;
    padding: 10px 0 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: inherit;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
}

/* 아티클 ========================================================================================== */
.videos-wrap {
    width: 100%;
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.videos-row-container {
    width: 100%;
    margin: 0 16px;
    display: flex;
}

.video-article {
    margin: 0 8px 40px;
    width: calc(100%/3 - 16px - 0.01px);
}

.video-thumbnail-container {
    border-radius: 12px;
    overflow: hidden;
}

.video-thumbnail-container a {
    position: relative;
    display: block;
    height: 100%;
}

.video-thumbnail-container a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 12px;
}

.video-thumbnail-container img {
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
    object-fit: cover;
}

.video-info {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.user-avatar-container {
    display: block;
    position: relative;
    width: 36px;
    height: 36px;
    margin-top: 12px;
    margin-right: 12px;
    min-width: 36px;
    border-radius: 50%;
    background-color: #fff;
    object-fit: cover;
    overflow: hidden;
}

.user-avatar-container::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: inherit;
    height: inherit;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .05);
}

.user-avatar-container img {
    width: 36px;
    height: 36px;
}

.video-info-body {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    padding-right: 24px;
}

.video-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #000;
    margin: 12px 0 4px 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.video-nickname {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, .47);
}

.video-nickname:hover {
    color: #000;
}

.video-counters-container {
    position: relative;
    height: 20px;
    margin-top: 1px;
    font-size: 12px;
    line-height: 130%;
    overflow: hidden;
    color: rgba(0, 0, 0, .47) !important;
    width: 100%;
    align-items: center;
}

.meta-item {
    margin-right: 8px;
    text-align: center;
}

.eye-pic {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 16px;
    opacity: .47;
    background-size: 13px 13px;
    vertical-align: top;
    background-image: url(https://d33pksfia2a94m.cloudfront.net/assets/img/icon/ic_eye_black.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: center top;
    top: 1px;
}

.heart-pic {
    position: relative;
    top: 20%;
}

.stats-count {
    position: relative;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
}

.video-action-btn {
    position: absolute;
    border: 0;
    background-color: transparent;
    top: 12px;
    right: -12px;
    cursor: pointer;
}

.video-bookmark-btn {
    position: absolute;
    border: 0;
    background-color: transparent;
    bottom: 12px;
    right: 0;
    cursor: pointer;
}

.bookmark-icon {
    display: none;
    fill: rgba(0, 0, 0, .47);
}

.bookmark-icon.active {
    display: flex;
}

.action-dropdown-container {
    display: none;
    position: absolute;
    min-width: 200px;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #606060;
    border-radius: 5px;
    z-index: 10;
    float: left;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(-180px, 26px, 0px);
    flex-direction: column;
}

.dropdown-action {
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    position: relative;
    padding: 6px 20px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
}

.dropdown-action-icon {
    fill: rgba(0, 0, 0, .47);
    margin-right: 12px;
}

.dropdown-action:hover {
    background-color: #f8f8f8;
    color: #000;
    font-weight: 400;
}

.dropdown-action:hover .dropdown-action-icon {
    fill: #000;
}

/* 모달 ============================================================== */
.modal {
    display: none;
    right: unset;
    bottom: unset;
    width: 100%;
    height: 100%;
    padding-right: 17px;
    overflow-x: hidden;
    overflow-y: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
}

.modal.show {
    display: flex;
}

.modal-margin {
    max-height: 482px;
    height: 100%;
    margin: 30px auto;
    position: relative;
    position: relative;
    max-width: 500px;
    width: 100%;
    pointer-events: none;
}

.modal-close-btn {
    border: 0;
    background-color: transparent;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.modal-close-btn svg {
    fill: #000;
    width: 15px;
    height: 15px;
}

.modal-container {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.3rem;
    outline: 0;
    color: #000;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    z-index: 500;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    position: relative;
    padding: 12px 24px;
    line-height: 20px;
    border-color: rgba(0, 0, 0, .1);
}

.modal-header-title {
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
}

.modal-body {
    max-height: calc(100% - 45px);
    height: 100%;
    overflow-y: auto;
    padding: 24px;
}

.mobo-title {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    word-break: keep-all;
}

.mobo-subtitle {
    font-size: 13px;
    line-height: 20px;
    color: #909090;
    margin-top: 0;
    margin-bottom: 12px;
}

.mobo-input {
    font-size: 15px;
    height: 40px;
    line-height: 26px;
    padding: 5px 12px;
    color: inherit;
    border-color: #ccc;
    border-radius: 4px;
    transition: border-color .15s ease-in-out, background-color .15s ease-in-out;
    display: block;
    width: 100%;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.modal-body-divider {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: rgba(0, 0, 0, .05);
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.mobo-checkboxes {
    display: flex;
    flex-wrap: wrap;
}

.mobo-checkbox-container {
    flex-basis: 50%;
    margin-bottom: 12px;
    min-height: 24px;
    padding-left: 24px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    position: relative;
}

.mobo-checkbox-container.active label::after {
    background-color: #3478ff;
}

.mobo-checkbox-container label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
    position: absolute;
    top: 0.25rem;
    left: 0;
    display: block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: #d8d8d8;
    border-radius: 0.2em;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.modal-footer {
    position: relative;
    padding: 10px 24px;
    border-color: rgba(0, 0, 0, .1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e9ecef;
}

.mofo-reset-btn {
    height: 36px;
    padding: 5px 0;
    cursor: pointer;
    border: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 15px;
    line-height: 1.5rem;
    color: #000;
    border-radius: 4px;
}

.mofo-filter-apply-btn {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    padding: 7px 15px;
    font-size: 15px;
    border-radius: 4px;
    color: #fff !important;
    border: 0;
    background-color: #3478ff;
    height: 36px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: 150ms;
}

.mofo-filter-apply-btn:hover {
    background-color: #1e50ff;
}