/* 서브헤더 ======================================================================================================================================== */
.sub-header-wrap {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    border: 1px solid rgba(0 0 0 / 5%);
    border-left: 0;
    border-right: 0;
}

.web-grid {
    max-width: 1000px;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.sub-header-container {
    height: 48px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sub-header-navs {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav-item {
    height: 48px;
}

.nav-item:not(:first-child) {
    margin-left: 20px;
}

.nav-link {
    height: 48px;
    padding: 8px 10px;
    border-top: 4px solid transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    list-style: none;
}

.nav-link.active {
    border-bottom: 2px solid;
    color: #000;
    font-weight: 600;
}

/* 매인 =============================================================================================================================================== */
.main-search-container {
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.main-search-bar {
    max-width: 260px;
    width: 100%;
    right: 0;
    position: relative;
}

.search-bar-icon {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 8px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    padding: 3px;
    line-height: 28px;
    color: #909090;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar-input {
    border: 0;
    width: 260px;
    height: 40px;
    padding: 0 48px 0 40px;
    font-size: 14px;
    background-color: #f0f0f0;
    background-clip: border-box;
    border-color: #f0f0f0;
    border-radius: 10rem;
}

.search-bar-input-erase-btn {
    position: absolute;
    border: 0;
    top: 50%;
    z-index: 1;
    transform: translate(0, -50%);
    right: 8px;
    width: 40px;
    height: 36px;
    cursor: pointer;
    display: none;
}

.videos-wrap {
    width: 100%;
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-top: 1px solid #e9e9e9;
}

.videos-row-container {
    width: 100%;
    margin: 0 16px;
    display: flex;
}

.video-article {
    margin: 0 8px 40px;
    width: calc(100%/3 - 16px - 0.01px);
}

.video-thumbnail-container {
    border-radius: 12px;
    overflow: hidden;
}

.video-thumbnail-container a {
    position: relative;
    display: block;
    height: 100%;
}

.video-thumbnail-container a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 12px;
}

.video-thumbnail-container img {
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
    object-fit: cover;
}

.video-info {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
}

.user-avatar-container {
    display: block;
    position: relative;
    width: 36px;
    height: 36px;
    margin-top: 12px;
    margin-right: 12px;
    min-width: 36px;
    border-radius: 50%;
    background-color: #fff;
    object-fit: cover;
    overflow: hidden;
}

.user-avatar-container::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: inherit;
    height: inherit;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, .05);
}

.user-avatar-container img {
    width: 36px;
    height: 36px;
}

.video-info-body {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    padding-right: 24px;
}

.video-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #000;
    margin: 12px 0 4px 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

.video-nickname {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: rgba(0, 0, 0, .47);
}

.video-nickname:hover {
    color: #000;
}

.video-counters-container {
    position: relative;
    height: 20px;
    margin-top: 1px;
    font-size: 12px;
    line-height: 130%;
    overflow: hidden;
    color: rgba(0, 0, 0, .47) !important;
    width: 100%;
    align-items: center;
}

.meta-item {
    margin-right: 8px;
    text-align: center;
}

.eye-pic {
    position: relative;
    display: inline-block;
    width: 13px;
    height: 16px;
    opacity: .47;
    background-size: 13px 13px;
    vertical-align: top;
    background-image: url(https://d33pksfia2a94m.cloudfront.net/assets/img/icon/ic_eye_black.svg);
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: center top;
    top: 1px;
}

.heart-pic {
    position: relative;
    top: 20%;
}

.stats-count {
    position: relative;
    font-size: 12px;
    line-height: 130%;
    text-align: center;
}

.video-action-btn {
    position: absolute;
    border: 0;
    background-color: transparent;
    top: 12px;
    right: -12px;
    cursor: pointer;
}

.video-bookmark-btn {
    position: absolute;
    border: 0;
    background-color: transparent;
    bottom: 12px;
    right: 0;
    cursor: pointer;
}

.bookmark-icon {
    display: none;
    fill: rgba(0, 0, 0, .47);
}

.bookmark-icon.active {
    display: flex;
}

.action-dropdown-container {
    display: none;
    position: absolute;
    min-width: 200px;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #606060;
    border-radius: 5px;
    z-index: 10;
    float: left;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(-180px, 26px, 0px);
    flex-direction: column;
}

.dropdown-action {
    border: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    position: relative;
    padding: 6px 20px;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
}

.dropdown-action-icon {
    fill: rgba(0, 0, 0, .47);
    margin-right: 12px;
}

.dropdown-action:hover {
    background-color: #f8f8f8;
    color: #000;
    font-weight: 400;
}

.dropdown-action:hover .dropdown-action-icon {
    fill: #000;
}

/* 아티클 없을 시 ============================================================ */
.no-article-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40vh;
    min-height: 160px;
    max-height: 240px;
    padding: 32px;
    margin: 0;
    font-size: 15px;
    line-height: 1.4;
    text-align: center;
    word-break: keep-all;
    color: #757575;
}